<!DOCTYPE HTML>
<html>
<head>
	<title>NYU Tandon CS-GY 6513 Chess Players Analytics</title>
	<meta charset="UTF-8">
	<meta name="description" content="NYU Tandon CS-GY 6513 Chess Players Analytics">
	<meta name="keywords" content="HTML">
	<meta name="author" content="Heath Li">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
</head>
<body class="index is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href="/">NYU Tandon CS-GY 6513<br><span>Chess Players Analytics</span></a></h1>
			<nav id="nav">
				<ul>
					<li class="current"><a href="#top" class="button">Game Replay</a></li>
					<li class="submenu">
						<a href="#">Menu</a>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/gameSection">View Matches</a></li>
							<li><a href="/playerSection">View Players</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</li>
					<li><a href="https://www.nyu.edu/"><img src="static/images/tandon_long_color.png" style="max-height: 32px;"></a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<article id="main">

			{% if headers %}
			<header class="special container">
				<!-- <span class="icon solid fa-mobile-alt"></span> -->
				
				<p class="names">White: {{ headers['White'] }}</p>
				<p class="names">Black: {{ headers['Black'] }}</p>
			</header>
			{% endif %}

			<!-- One -->
			<section class="wrapper style4 container">

				<!-- Content -->
				<div class="slideshow-container">
					{% for image_name in image_names %}
					<div class="mySlides">
						<img src="{{ url_for('static', filename=image_name) }}">
					</div>
					{% endfor %}
				</div>

				<div class="forButton">
					<button id="prevBtn">Previous</button>
					<button id="nextBtn">Next</button>
				</div>

			</section>

		</article>

		<!-- Footer -->
		<footer id="footer">

			<ul class="icons">
				<li><a href="#" class="icon brands circle fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands circle fa-google-plus-g"><span class="label">Google+</span></a></li>
				<li><a href="#" class="icon brands circle fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon brands circle fa-dribbble"><span class="label">Dribbble</span></a></li>
			</ul>

			<ul class="copyright">
				<li>&copy; NYU Tandon CS-GY 6513 Chess Players Analytics. Spring 2023.</li>
				<li>Design: Heath Li</li>
				<li><a href="mailto:hl4387@nyu.edu">hl4387@nyu.edu</a></li>
			</ul>

		</footer>

	</div>

	<!-- Scripts -->
	<script src="static/assets/js/jquery.min.js"></script>
	<script src="static/assets/js/jquery.dropotron.min.js"></script>
	<script src="static/assets/js/jquery.scrolly.min.js"></script>
	<script src="static/assets/js/jquery.scrollex.min.js"></script>
	<script src="static/assets/js/browser.min.js"></script>
	<script src="static/assets/js/breakpoints.min.js"></script>
	<script src="static/assets/js/util.js"></script>
	<script src="static/assets/js/main.js"></script>
	<script src="static/assets/js/jquery-3.1.1.min.js"></script>
	<script src="static/assets/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function () {
			var slideIndex = 1;
			showSlide(slideIndex);

			$('#prevBtn').click(function () {
				showSlide(slideIndex -= 1);
			});

			$('#nextBtn').click(function () {
				showSlide(slideIndex += 1);
			});

			function showSlide(n) {
				var i;
				var slides = $('.mySlides');
				if (n > slides.length) { slideIndex = slides.length }
				if (n < 1) { slideIndex = 1 }
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";
				}
				slides[slideIndex - 1].style.display = "block";
			}
		});
	</script>

</body>
</html>